{% extends "layout/default.html.twig" %}

{% block header %}
	<header class="masthead" style="background-image: url('{{asset('assets/img/contact-bg.jpg')}}')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="site-heading">
						<h1>Log in !</h1>
						<span class="subheading">We are waiting for you !</span>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}

{% block title %}Log in!
{% endblock %}

{% block main %}
	<article class="mb-4">
		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<form method="post">
						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}

						{% if app.user %}
							<div class="mb-4">
								You are logged in as <span class="text-success">{{ app.user.userIdentifier }}</span>
								
								<br class="mb-2">
								<a href="{{ path('app_logout') }}" class="btn btn-lg btn-danger mb-4">Logout</a>
							</div>
						{% endif %}

						<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
						<label for="inputEmail">Email:</label>
						<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
						<label for="inputPassword">Password:</label>
						<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

						<input
						type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

						<button class="btn btn-lg btn-primary mb-5" type="submit">
							Sign in
						</button>
                        <br>
                        <a href="/register" class = "mb-4 small text-primary"> New user</a>
					</form>
				</div>
			</div>
		</div>
	</article>
{% endblock %}
