{% extends "layout/default.html.twig" %}


{% block header %}
	<header class="masthead" style="background-image: url('{{asset('assets/img/about-bg.jpg')}}')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="site-heading">
						<h1>List de categories</h1>
						<span class="subheading">Categories</span>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}

{% block main %}
	<div class="container px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-md-10 col-lg-8 col-xl-7">

				{% for category in categories %}
					<div class="post-preview category">
						<a href="/category/{{category.id}}">
							<p class="post-subtitle type-category">{{category.name}}</p>
						</a>
						<div class="sup-mod-category">
							<form action="/category/edit/{{category.id}}" method="POST">
								<button class="btn btn-info btn-cat" type="submit">MODIFY</button>
							</form>
							<form action="/category/delete/{{category.id}}" method="POST">
								<button class="btn btn-danger btn-cat" onclick="return confirm('Voulez-vous supprimer cette categorie ?')" type="submit">DELETE</button>
							</form>
						</div>
					</div>
					{# <a class="btn btn-primary" href="/category/create">ADD CATEGORY</a> #}
				{% endfor %}

				{# {{form(form)}} #}
					<div class="post-preview ">
						<form class="ajouter-cat" action="/category" method="POST">
						{# {{form_start(form)}} #}
							<label for="email">Add a new category: </label>
							{# <input class="form-control" id="email" type="text" name="name" data-sb-validations="required,email"/> #}
							{{form_widget(form.name, {attr:{'class':'form-control'}})}}
							<button class="btn btn-cat text-info bg-dark" type="submit">ADD CATEGORY</button>
						</form>
					</div>
				<!-- Pager-->
				<div class="d-flex justify-content-end mb-4">
					<a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
