{% extends "layout/default.html.twig" %}

{% block header %}
	<header class="masthead" style="background-image: url('{{asset('assets/img/home-bg.jpg')}}')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="site-heading">
						<h1>The Category:</h1>
						{% for post in posts %}
							<span class="subheading">
								Titre de category: {{post.category.name}}
							</span>

						{% endfor %}


					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}

{% block main %}
	<main class="mb-4">
		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">

					{% for post in posts %}
						<div class="post-preview">
							<a href="/post/{{post.id}}">
								<h2 class="post-title">{{post.titre}}
								</h2>
								<h3 class="post-subtitle">{{post.description}}</h3>
							</a>
						</div>

						<p class="post-meta">
							Posted by
							<a href="#!">Start Bootstrap</a>
							on
							{{post.createdAT|date("m/d/Y")}}
						</p>
						<a class="post-category type-category italic text-warning" href="/category/{{post.category.id}}">
							{{post.category.name}}</a>

					{% endfor %}

				</div>
			</div>
		</div>
	</main>
{% endblock %}
