{% extends "layout/default.html.twig" %}
{% block title %}
	Detaille post
{% endblock %}

{% block header %}
	<!-- Page Header-->
	{# <header class="masthead" style="background-image: url('{{asset('assets/img/post-sample-image.jpg')}}')"> #}
	<header class="masthead" style="background-image: url('{{asset('uploads/images/'~post.imageFileName)}}')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="post-heading">
						<h1>Man must explore, and this is exploration at its greatest</h1>
						<h2 class="subheading">Problems look mighty small from 150 miles up</h2>
						<span class="meta">
							Posted by
							<a href="#!">Start Bootstrap</a>
							on August 24, 2022
						</span>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}

{% block main %}
	<article class="mb-4">
		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<p>{{post.contenue|raw}}</p>
					{# <a href=""><img src="{{asset('uploads/images/'~post.imageFileName)}}" alt=""></a> #}
					<p>
						Placeholder text by
						<a href="http://spaceipsum.com/">Space Ipsum</a>
						&middot; Images by
						<a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>
					</p>
					<div class="qualification">
						<button type="button" id="btnLike" data-id="{{post.id}}">
							&#10084
							<span id="nbLikes" >
								{% if post.likes|length > 0 %}
									{{post.likes|length}}
								{% endif %}
							</span>
							Love it</button>
					</div>
					<hr>
					<div class="container px-4 px-lg-5 container-structure-comment">
						<label for="">Add a new comment:</label>
						<textarea type="textarea" placeholder="Write your comment here" value="textarea" id="inputComment" data-id="{{post.id}}"></textarea>
						<button type="button" class="btn-primary text-uppercase" id="btnComment">OK</button>
					</div>

					<div class="containerComment post-preview">
						{% for comment in post.comments %}
							<div class="itemComment">
								<p class="text">{{comment.contenue}}</p>
								<span class=" date">
									<span class="published">
										Published on
									</span>
									{{comment.createdAt|date("m/d/Y")}}
								</span>
							</div>
						{% endfor %}
					</div>

				</div>
			</div>
		</div>

	</article>
{% endblock %}
